/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #151922;
  color: white;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* # UTILS */

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

/* # DEBUG */

.debug,
.debug * {
  background-color: lightgrey;
  border: 1px dashed black;
  padding: 5px;
  min-height: 20px;
}

.border {
  border: 1px dashed lightcoral;
}

/* LAYOUT WEBAPP */

.wrapper {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

/* APP-TOP */

#app-top {
  display: flex;
  height: calc(100% - 120px);
}

/* NAVBAR */

#navbar {
  width: 50px;
  flex-shrink: 0;
  padding: 10px 0;
  background-color: black;
  overflow: hidden;
  min-height: 350px;
  cursor: pointer;
}

.navbar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* NAVBAR UP */

.icon-spotify,
.icon-home,
.icon-search,
.icon-library {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 0.9rem;
}

/* NAVBAR MID */

.playlist-header,
.playlist-body {
  /* display: flex; */
  flex-direction: column;
  padding: 5px 15px 5px 15px;
}

.playlist-header {
  line-height: 2rem;
  padding-top: 15px;
}

.p-h-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playlist-header .btn-playlist-add {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #a3a3a3;
  border: none;
  font-size: 1.2rem;
}

.playlist-body {
  line-height: 2rem;
  font-size: 0.9rem;
  overflow-y: auto;
}

/* NAVBAR UNDER */

.navbar-under {
  margin-top: auto;
}

.icon-download,
.icon-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.navbar-under .icon-profile .profile-pic-container {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: gray;
  overflow: hidden;
  padding: 5px;
}

/* APP MAIN */

#app-main {
  flex-grow: 1;
}

/* MAIN TOP BAR */

#main-top-bar {
  height: 120px;
  line-height: 120px;
  text-align: right;
  background-color: #0d0f14;
}

/* MAIN CONTENT */

#main-content {
  height: calc(100% - 120px);
  overflow: auto;
}

#main-content .container {
  padding: 10px;
}

/* APP PLAYER */

#app-player {
  height: 120px;
  background-color: #282828;
}

/***** RESPONSIVE ******/

/****** SM ******/
@media screen and (min-width: 576px) {
  /* # UTILS */

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline {
    display: inline;
  }

  /* NAVBAR */
  #navbar {
    width: 200px;
    overflow-y: auto;
  }

  .icon-spotify {
    display: none;
  }

  #navbar svg {
    height: 30px;
    padding-right: 10px;
  }

  .logo-spotify,
  .icon-home,
  .icon-search,
  .icon-library {
    display: flex;
    justify-content: flex-start;
    padding: 5px 15px 5px 15px;
  }

  .logo-spotify {
    padding: 15px;
    height: 70px;
    align-items: center;
  }

  /* .navbar-mid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px 15px 5px 15px;
    overflow-y: scroll;
  } */

  .playlist-header,
  .playlist-body {
    display: flex;
    flex-direction: column;
    padding: 5px 15px 5px 15px;
  }

  .playlist-body {
    min-height: 100px;
  }

  .icon-download,
  .icon-profile {
    justify-content: start;
  }
}

/****** MD ******/
@media screen and (min-width: 768px) {
}

/****** LG ******/
@media screen and (min-width: 992px) {
}
