/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #151922;
  color: white;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* # UTILS */

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

/* # DEBUG */

.debug,
.debug * {
  background-color: lightgrey;
  border: 1px dashed black;
  padding: 5px;
  min-height: 20px;
}

.border {
  border: 1px dashed lightcoral;
}

/* LAYOUT WEBAPP */

.wrapper {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

/* APP-TOP */

#app-top {
  display: flex;
  height: calc(100% - 100px);
}

/* NAVBAR */

#navbar {
  width: 50px;
  flex-shrink: 0;
  padding: 10px 0;
  background-color: black;
  overflow: hidden;
  min-height: 350px;
  cursor: pointer;

  color: gray;
}

.navbar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#navbar .navbar-up > div:hover {
  color: white;
}

#navbar .playlist-header:hover {
  color: white;
}

#navbar .playlist-list > li:hover {
  color: white;
}

#navbar .navbar-under > div:hover {
  color: white;
}

/* NAVBAR UP */

.icon-spotify,
.icon-home,
.icon-search,
.icon-library {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 0.9rem;
}

/* NAVBAR PLAYLIST */

.playlist-header,
.playlist-body {
  /* display: flex; */
  flex-direction: column;
  padding: 5px 15px 5px 15px;
}

.playlist-header {
  line-height: 2rem;
  padding-top: 15px;
}

.p-h-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playlist-header .btn-playlist-add {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #a3a3a3;
  border: none;
  font-size: 1.2rem;
}

.playlist-body {
  line-height: 2rem;
  font-size: 0.9rem;
  overflow-y: auto;
}

/* NAVBAR UNDER */

.navbar-under {
  margin-top: auto;
  font-size: 0.9rem;
}

.icon-download,
.icon-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.navbar-under .icon-profile .profile-pic-container {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: gray;
  overflow: hidden;
  padding: 5px;
}

/* APP MAIN */

#app-main {
  flex-grow: 1;
}

/* MAIN TOP BAR */

#main-top-bar {
  height: 120px;
  line-height: 120px;
  text-align: right;
  background-color: #0d0f14;
}

/* MAIN CONTENT */

#main-content {
  height: calc(100% - 120px);
  overflow: auto;
}

#main-content .container {
  padding: 10px;
}

/* APP PLAYER */

#app-player {
  height: 100px;
  background-color: #282828;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 15px;
  gap: 10px;
}

/* SX PLAYER */

.sx-player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.playing-album {
  display: flex;
  width: 30%;
}

.playing-info {
  width: 50%;
}

.playing-title {
  font-size: 0.9rem;
  color: white;
}

.playing-song {
  font-size: 0.7rem;
  color: gray;
}

.sx-icon-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.fa-heart,
.fa-folder {
  color: gray;
  font-size: 1rem;
}

/* PLAYBACK */

.playback-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

/* PLAYBACK ICON */

.playback-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}

.fa-circle-play {
  font-size: 1.9rem;
}

/* PROGRESS BAR */

.progress-bar-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 15px;

  font-size: 0.6rem;
}

.progress-bar-container > .progress-bar {
  flex-grow: 1;
  max-width: 300px;
  min-width: 100px;

  height: 4px;
  background-color: gray;
  border-radius: 2px;
}

.progress-bar-container > .progress-bar > .progress {
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 2px;
}

/* DX PLAYER */

.dx-player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.dx-player-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 0.8rem;
}

.volume-bar {
  flex-grow: 1;
  max-width: 300px;
  min-width: 100px;

  height: 4px;
  background-color: gray;
  border-radius: 2px;
}

.volume-bar > .volume-level {
  width: 60%;
  height: 100%;
  background-color: white;
  border-radius: 2px;
}

/***** RESPONSIVE ******/

/****** SM ******/
@media screen and (min-width: 576px) {
  /* # UTILS */

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline {
    display: inline;
  }

  /* NAVBAR */

  #navbar {
    width: 250px;
    overflow-y: auto;
  }

  #navbar svg {
    height: 30px;
    padding-right: 10px;
  }

  /* NAVBAR UP */

  .icon-spotify {
    display: none;
  }

  .logo-spotify,
  .icon-home,
  .icon-search,
  .icon-library {
    display: flex;
    justify-content: flex-start;
    padding: 5px 15px 5px 15px;
  }

  .logo-spotify {
    padding: 15px;
    height: 70px;
    align-items: center;
  }

  /* .navbar-mid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px 15px 5px 15px;
    overflow-y: scroll;
  } */

  /* NAVBAR PLAYLIST */

  .playlist-header,
  .playlist-body {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 6px 15px;
  }

  .playlist-header p:first-child {
    color: white;
  }

  .playlist-body {
    min-height: 100px;
  }

  /* NAVBAR UNDER */

  .icon-download,
  .icon-profile {
    justify-content: start;
    gap: 10px;
  }

  #navbar .icon-download {
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
  }

  #navbar .icon-profile {
    color: white;
  }
}

/****** MD ******/
@media screen and (min-width: 768px) {
}

/****** LG ******/
@media screen and (min-width: 992px) {
}
